.image-container {
    position: relative;
}

.animated-image {
    animation-name: ejemploAnimacion;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes ejemploAnimacion {
    0% {
        transform: scale(1); /* Escala normal */
    }
    50% {
        transform: scale(1.2); /* Escala aumentada */
    }
    100% {
        transform: scale(1); /* Vuelve a la escala normal */
    }
}