.body-form {
    width: 35%;
    border: none;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 0 0.5rem #0000000a, 0 0.125rem 1.125rem #0000001a;
    margin-top: 2rem;
    margin-bottom: 2rem;
}